numpy~=1.22.2
matplotlib
sphinx
flake8~=7.0.0
black
ipython~=8.20.0
numpydoc
optax~=0.1.2
sphinx_copybutton
sphinx_rtd_theme
nbsphinx
tensorflow_probability~=0.21.0
scipy~=1.11.4
scikit-learn~=1.0.0
jaxlib
jax
plotly
flax>=0.6.1
tqdm~=4.62.3
pandas
neural-tangents==0.6.4
tensorflow-datasets~=4.9.4
isort
tensorflow
pyyaml
jupyter
transformers~=4.36.2
