numpy
matplotlib
sphinx
flake8==5.0.4
black==22.8.0
ipython
numpydoc
sphinx_copybutton
sphinx_rtd_theme
nbsphinx
tensorflow_probability
scipy
scikit-learn
jaxlib
jax
plotly
flax
tqdm
pandas
neural-tangents
tensorflow-datasets
isort==5.10.1
tensorflow
pyyaml
jupyter
